:root {
  --green: hsl(175, 49%, 42%);
  --red: hsl(15, 80%, 50%);
  --beige: hsl(45, 41%, 88%);
 
  --btn: {
    display: inline-block; 
    padding: 6px 12px; 
    font-size: 1rem; 
    line-height: 1.42857143;
    outline: none;
    text-align: center; 
    cursor: pointer; 
    background-image: none; 
    border: none; 
    border-radius: 4px; 
    color: #fff; 
    background-color: var(--green);
    position: relative;
  }

  @custom-media --min (width <= 600px);
  @custom-media --max (width > 600px);
  @custom-selector :--headings h1, h2, h3, h4, h5, h6;

}

:--headings {
  margin-top: 0;
  margin-bottom: 1rem;
  color: var(--red);
}

body { font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; font-size: 1.5rem; margin: 0; padding: 0; }
.container { width: 80%;  margin: 0 auto; }

.nav .btn.hamburger {
  @apply --btn;
  margin: 10px auto;
  display: none;
  @media (--min) {
    display: block;
  }
}

.nav .container {
  max-width: 1200px;
  @media (--min) {
    width: 100%;
  }
}

.nav .navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: hsl(45, 41%, 92%);

  @media (--max) {
    flex-direction: row;
    background: none;
  }
}

.nav .navbar.hidden {
  @media (--min) {
    display: none;
  }
}

.nav .navbar .btn {
  margin: 0 auto;
  text-align:  center;
}

.nav .navbar a {
  color: var(--red);
  font-weight: 600;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 16px 9px;
  white-space: nowrap;
  text-align: center;
}

.nav .navbar a:hover {
  color: color(var(--red) shade(20%));
  @media (--min) {
    background-color: var(--beige);
  }
} /* hover */

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 150%;
  ;
  margin: 0;
  padding: 0;
  width: 80%;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.btn {
  display: block;
  margin: 20px 0;
  padding: 6px 12px;
  font-size: 1rem;
  line-height: 1.42857143;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: hsl(175, 49%, 42%);
  position: relative;
}

.tooltip::before {
  color: black;
  z-index: 1;
  padding: 6px 12px;
  border-radius: 5px;
  background: hsla(45, 82%, 64%, .9);
  content: attr(data-tooltip);
  position: absolute;
  top: -100%;
  left: 0;
  display: none;
}

.tooltip:hover::before {
  display: block;
}

.tooltip[data-position='right']::before {
  top: 0;
  left: 100%;
}

.tooltip[data-position='bottom']::before {
  top: 100%;
  left: 0;
}

.tooltip[data-position='left']::before {
  top: 0;
  left: -100%;
}

.box {
  display: block;
  background: #DDD;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  float: left;
  margin: 5px;
}

.ajax {
  display: block;
  float: left;
  margin-left: 10%;
}

.template {
  display: block;
  float: left;
  margin-left: 10%;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  font-size: 1rem;
  line-height: 1.42857143;
  outline: none;
  text-align: center;
  cursor: pointer;
  background-image: none;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: hsl(175, 49%, 42%);
  position: relative;
}

.nav .btn.hamburger {
  margin: 10px auto;
  display: none;

  @media all and (max-width: 600px) {
    display: block;
  }
}

.nav .container {
  max-width: 1200px;

  @media all and (max-width: 600px) {
    width: 100%;
  }
}

.nav .navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: hsl(45, 41%, 92%);

  @media all and (min-width: 600px) {
    flex-direction: row;
    background: none;
  }
}

.nav .navbar.hidden {
  @media all and (max-width: 600px) {
    display: none;
  }
}

.nav .navbar .btn {
  margin: 0 auto;
  text-align: center;
}

.nav .navbar a {
  color: hsl(15, 80%, 50%);
  font-weight: 600;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 16px 9px;
  white-space: nowrap;
  text-align: center;
}

.nav .navbar a:hover {
  color: hsl(15, 70%, 36%);

  @media all and (max-width: 600px) {
    background-color: hsl(45, 41%, 88%);
  }
}

/* hover */


.boxess {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: #F0AD4E;
  width: 100vw;
  height: 100vh;
}

.box {
  display: block;
  background-color: #DA3637;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  float: left;
  margin: 5px;
}

.box#special {
  background-color: #0077B5;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  font-size: 1rem;
  line-height: 1.42857143;
  outline: none;
  text-align: center;
  cursor: pointer;
  background-image: none;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: hsl(175, 49%, 42%);
  position: relative;
}

.tooltips {
  background: hsla(45, 82%, 64%, .9);
  color: black;
  z-index: 1;
  padding: 6px 12px;
  border-radius: 10px 10px 10px 0;
  white-space: nowrap;
  display: none;
  position: absolute;
}

.btn .tooltips.active {
  display: block;
  bottom: 40px;
  left: 10px;
}

/* .boxes {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: #EEE8D6;
  width: 100vw;
  height: 100vh;
}

.box {
  display: block;
  background-color: #417D9A;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  float: left;
  margin: 5px;
} */

.data-boxes {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: #EEE8D6;
  width: 100vw;
  height: 100vh;
}

.box {
  display: block;
  background-color: #417D9A;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  float: left;
  margin: 5px;
}

.btn {
  display: inline-block; 
  padding: 6px 12px; 
  font-size: 1rem; 
  line-height: 1.42857143; 
  text-align: center; 
  cursor: pointer; 
  background-image: none; 
  border: none; 
  border-radius: 4px; 
  color: #fff; 
  background-color: hsl(175, 49%, 42%);
  position: relative;
}

.tooltip {
  background: hsla(45, 82%, 64%, .9);
  color: black;
  z-index: 1;
  padding: 6px 12px; 
  border-radius: 10px 10px 10px 0;
  white-space: nowrap;
  display: none;
  position: absolute;
}

.btn:hover .tooltip {
  display: block;
  bottom: 40px;
  left: 10px;
}
